@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Serif+KR&family=Shantell+Sans:wght@300&family=Stylish&display=swap");

@import "page/home.css";
@import "page/more.css";
@import "component/status-bar.css";
@import "component/profile.css";
@import "component/container.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #eee6c4;
  font-family: "Shantell Sans", cursive;
}

.korean {
  font-family: "Stylish", sans-serif;
  font-size: 20px;
}
